TWITCH_CHANNEL=""
TWITCH_LOGIN=""
TWITCH_OAUTH_TOKEN=""
TWITCH_ID=""
PORT=""
API_BASEURL=""
STREAMLABS_SOCKET_API_TOKEN=""
GOOGLE_APPLICATION_CREDENTIALS="google-application-credentials.json"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
